@import './_variables.scss';

.container {
    display: flex;
    max-width: 1250px;
    gap: 30px;
    flex-wrap: wrap;

    &-timeCards {
        display: flex;
        flex-wrap: wrap;
        max-width: 860px;
        gap: 30px;
    }
}

/* Mobile */
@media screen and (max-width: 768px) {
    .container {
        max-width: unset;
        flex-direction: column;

        &-timeCards {
            max-width: unset;
            flex-direction: column;
        }
    }
}