/* Overall Setting */
@import './_variables.scss';

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

body {
    background-color: $deep-blue;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & > * {
        font-family: 'Rubik', sans-serif;
        font-size: 18px;
        color: $white;
    }
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
}