@import './_variables.scss';

.time-card {
    &-container {
        border-radius: $lg;
        position: relative;
        height: 280px;
        width: 256px;
        overflow: hidden;
        
        &:hover {
            cursor: pointer;
            
            .time-card-info {
                background-color: #34397B;
            }
        }
    }

    &-info {
        background-color: $dark-blue;
        padding: 30px;
        border-radius: $lg;
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 256px;
        height: 230px;
        box-sizing: border-box;
        transition: $transition;

        &-title {
            display: flex;
            justify-content: space-between;
            flex-grow: 1;
        }

        &-time {
            display: block;
            margin-top: 40px;

            p {
                &:first-child {
                    font-size: 3rem;
                    margin-bottom: $lg;
                    font-weight: $light;
                }

                &:last-child {
                    color: $pale-blue;
                }
            }
        }
    }

    &-icon {
        position: absolute;
        right: $lg;
    }
}

/* Mobile */
@media screen and (max-width: 768px) {
    .time-card {
        &-container {
            width: unset;
            height: 160px;
        }

        &-info {
            width: 100%;
            height: 120px;

            &-time {
                display: flex;
                justify-content: space-between;
                flex-grow: 1;
                margin-top: $md;

                p {
                    &:first-child {
                        font-size: 1.3rem;
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
}